.wrapper .content {
  margin: 25px 25px 35px;
}

body {
  overflow-x: hidden;
}

.category-btn {
  padding: 8px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.inputs input {
  /* height: 80px;
  width: 80px; */
  margin: 4px;

  text-align: center;
  color: #1bb295;
  border-radius: 5px;
  background: none;
  border: 1px solid #b5b5b5;
  text-transform: uppercase;
}

.inputs input:first-child {
  margin-left: 0px;
}

.content .details {
  margin: 20px 0 25px;
}

.game-modal {
  background-image: url('../../../public/Game_images/guessing-word.png');
  border: 10px solid white;
}

.picking-bg {
  background-color: black;
}
