.word-display .letter {
  width: 28px;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid #000;
}
.category-btn {
  padding: 8px;
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-transform: none;
  transition: all 0.5s;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -50px 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-box h4 {
  text-align: center;

  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}

:where(.game-modal, .keyboard) button {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #ba5e5e;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
}

.keyboard button {
  padding: 7px;
  width: calc(100% / 9 - 5px);
}
.keyboard button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.game-modal {
  background-image: url('../../../public/Game_images/dont-fall2.png');
  border: 10px solid white;
}

.picking-bg {
  background-color: black;
}
.game-modal p {
  font-size: 1.15rem;
  margin: 15px 0 30px;
  font-weight: 500;
}

.game-modal p b {
  color: #5e63ba;
  font-weight: 600;
}
